/********************************************
* Custom CSS Styles for Bootstrap Sandbox
* A troubleshooting Project
*
* https://bootcamp-coders.cnm.edu/~rlewis37/bootstrap-sandbox
* @author rlewis37@cnm.edu
*
********************************************/

/********************************************
* Base Styles
********************************************/
header {
	padding: 20px 0;
	border-bottom: 1px solid #ddd;
}

main 	{
	margin-top: 40px;
}

/********************************************
* Navbar Styles
********************************************/
.navbar {
	margin: 0;
}

.navbar-brand {
	font-size: 2em;
}

button.nav-button {
	margin: 8px 0 8px 10px;
}

.navbar-toggle {
	border: 1px solid #ddd;
	padding: 10px 15px;
	margin: 0;
}

/********************************************
* Form Styles
********************************************/
.dropdown-menu p {
	padding: 10px 15px 0;
	margin: 0;
}

.navbar-form input {
	margin-bottom: 5px;
}

@media only screen and (max-width: 768px) {
	.navbar-form {margin: 0;}
}

